/* Contact section */
.contact{
  color:#000;
  text-align: center;
}

.hire{
  width:100%;
  padding: 50px;

  h2{
    font-size: 4em;
    color:$base_color;
  }

  a{
    color:$base_color;
  }


}
