/* Jokes section */
.jokes-prompt{
  color:#000;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 2px 5px;
  border:solid  $base_color;
  border-width: 1px 1px 0 0;

  a{
    color:$base_color;
    cursor:pointer;
  }
}


.joke-container{
  color:#000;
  padding: 40px;
  display: none;

  .title{
    color:red;
  }

  .instructions{
    text-align: center;
    font-style: italic;
    color: $base_color;
    font-size: 0.9em;
  }

}
